{{#isEqual type 'self'}}
<div class="chat-message-self chat-message">
    <div class="chat-message__message-container">
        <span class="chat-message__text">{{ text }}</span>
        <div class="chat-message__info">
            <img class="chat-message__status-info" src="../images/read-status.png" alt="Статус сообщения"/>
            <span class="chat-message__time">{{ time }}</span>
        </div>
    </div>
</div>
{{else isEqual type 'other'}}
<div class="chat-message-other chat-message">
    <div class="chat-message__message-container">
        <span class="chat-message__text">{{ text }}</span>
        <div class="chat-message__info">
            <span class="chat-message__time">{{ time }}</span>
        </div>
    </div>
</div>
{{else isEqual type 'date'}}
<div class="chat-message-date chat-message">
    {{ text }}
</div>
{{/isEqual}}