<div class="round-avatar {{#if className}}  {{className}}{{/if}}">
    <img 
        class="round-avatar__img{{#if classNameImg}} {{classNameImg}}{{/if}}" 
        alt="{{#if alt}}{{alt}}{{else}}Аватар пользователя{{/if}}"
        src="{{#if avatar}}{{avatar}}{{else}}../images/default-avatar.png{{/if}}"
    />
</div>