<div class="round-avatar {{#if className}}  {{className}}{{/if}}">
    {{#if avatar }}
    <img class="round-avatar__img {{#if classNameImg}}  {{classNameImg}}{{/if}}" src="{{ avatar }}" />
    {{else}}
    <img class="round-avatar__img {{#if classNameImg}}  {{classNameImg}}{{/if}}" src="../images/default-avatar.png" />
    {{/if}}
</div>